
.heading h1 {
    font-size: 75px;
    font-family: 'Shift', sans-serif;
    color: blue;
    margin: 10px;

}

.nav ul li {
    display: inline;
    color: green;
}

.background{
    background-image: url('feelgrafix.com/data_images/out/8/811148-free-landscape-wallpaper.jpg');
    
}
}

